.cover {
    margin-top: 92px;
    background: 0 0 url(./../../images/cover/cover-image.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.cover:hover:before {
    background: rgba(0, 0, 0, 0.65);
}
