.cover__overlay::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.65;
    z-index: -1;
    background: url(../../../images/cover/cover-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
