/*
page.blocks
- header
- content
  - beuys
  - gallery
  - karya
  - kunjungi
- footer
*/

@import url(../vendor/InterWeb/inter.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__main-illustration/lead__main-illustration.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__brief/intro__brief.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__author/intro__author.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/places/places.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__author-info/cards__author-info.css);
@import url(../blocks/cards/__author-category/cards__author-category.css);
@import url(../blocks/cards/__author-detail/cards__author-detail.css);
@import url(../blocks/cards/__image/cards__image.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #2a2c2f;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    /* border: 1px solid brown; */
}
