/*
page.blocks
- header
- content
    - intro
    - photo-grid
    - places
    - cover
- footer
*/

@import url(../vendor/InterWeb/inter.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__main-illustration/lead__main-illustration.css);

@import url(../blocks/content/content.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__brief/intro__brief.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__author/intro__author.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/places/places.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__author-info/cards__author-info.css);
@import url(../blocks/cards/__author-category/cards__author-category.css);
@import url(../blocks/cards/__author-detail/cards__author-detail.css);
@import url(../blocks/cards/__image-container/cards__image-container.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__action/cards__action.css);

@import url(../blocks/btn/btn.css);
@import url(../blocks/btn/_type/btn_type_primary.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__action/cover__action.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #2a2c2f;
}

.page {
    width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .lead__title {
        font-size: 132px;
        min-height: 400px;
    }

    .lead__subtitle {
        font-size: 48px;
        width: 96%;
    }

    .lead__main-illustration {
        width: 100%;
    }

    .content {
        margin-top: 88px;
    }

    .intro {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .intro__brief {
        width: 96%;
        min-height: 232px;
        font-size: 84px;
    }

    .intro__quote {
        width: 96%;
        font-size: 38px;
        margin-top: 90px;
    }

    .intro__paragraph {
        width: 96%;
        font-size: 28px;
        margin-top: 120px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 96%;
        margin-top: 190px;
    }

    .photo-grid__image {
        width: 100%;
    }

    .cards {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards__item {
        width: 100%;
    }

    .cards__title {
        width: 100%;
    }

    .cards__author-category {
        font-size: 22px;
    }

    .cards__author-detail {
        font-size: 28px;
    }

    .cards__description {
        font-size: 27px;
    }

    .cards__item:nth-child(1) .cards__description {
        font-size: 28px;
    }

    .cards__image {
        width: 90%;
        height: 580px;
    }

    .cards__action {
        width: 80%;
        height: 60px;
        margin-top: 30px;
    }

    .btn {
        font-size: 27px;
        text-align: center;
    }

    .cover__overlay {
        width: 100%;
    }

    .cover {
        height: 1040px;
    }

    .cover__title {
        width: 100%;
        font-size: 100px;
    }

    .cover__subtitle {
        font-size: 24px;
        width: fit-content;
    }

    .cover__action {
        width: fit-content;
        height: fit-content;
        margin-top: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    /* .lead__title {
        font-size: 132px;
        min-height: 400px;
    }

    .lead__subtitle {
        font-size: 48px;
        width: 96%;
    }

    .lead__main-illustration {
        width: 100%;
    }

    .content {
        margin-top: 88px;
    }

    .intro {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .intro__brief {
        width: 96%;
        min-height: 232px;
        font-size: 84px;
    }

    .intro__quote {
        width: 96%;
        font-size: 38px;
        margin-top: 90px;
    }

    .intro__paragraph {
        width: 96%;
        font-size: 28px;
        margin-top: 120px;
    }

    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 96%;
        margin-top: 190px;
    }

    .photo-grid__image {
        width: 100%;
    }

    .cards {
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards__item {
        width: 100%;
    }

    .cards__title {
        width: 100%;
    }

    .cards__author-category {
        font-size: 22px;
    }

    .cards__author-detail {
        font-size: 28px;
    }

    .cards__description {
        font-size: 27px;
    }

    .cards__item:nth-child(1) .cards__description {
        font-size: 28px;
    }

    .cards__image {
        width: 90%;
        height: 580px;
    }

    .cards__action {
        width: 80%;
        height: 60px;
        margin-top: 30px;
    }

    .btn {
        font-size: 27px;
        text-align: center;
    }

    .cover__overlay {
        width: 100%;
    }

    .cover {
        height: 1040px;
    }

    .cover__title {
        width: 100%;
        font-size: 100px;
    }

    .cover__subtitle {
        font-size: 24px;
        width: fit-content;
    }

    .cover__action {
        width: fit-content;
        height: fit-content;
        margin-top: 50px;
    } */
}
