/*
page.blocks
- header
- content
    - intro
    - photo-grid
    - places
    - cover
- footer
*/

@import url(../vendor/InterWeb/inter.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__main-illustration/lead__main-illustration.css);

@import url(../blocks/content/content.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__brief/intro__brief.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__author/intro__author.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/places/places.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__author-info/cards__author-info.css);
@import url(../blocks/cards/__author-category/cards__author-category.css);
@import url(../blocks/cards/__author-detail/cards__author-detail.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__description-container/cards__description-container.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__action/cards__action.css);

@import url(../blocks/btn/btn.css);
@import url(../blocks/btn/_type/btn_type_primary.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__action/cover__action.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #2a2c2f;
    overflow-x: hidden;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 320px) {
}
