/*
page.blocks
- header
- content
    - intro
    - photo-grid
    - places
    - cover
- footer
*/

@import url(../vendor/InterWeb/inter.css);

@import url(../blocks/lead/lead.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__main-illustration/lead__main-illustration.css);

@import url(../blocks/content/content.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__brief/intro__brief.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__author/intro__author.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__image/photo-grid__image.css);

@import url(../blocks/places/places.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__author-info/cards__author-info.css);
@import url(../blocks/cards/__author-category/cards__author-category.css);
@import url(../blocks/cards/__author-detail/cards__author-detail.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__description-container/cards__description-container.css);
@import url(../blocks/cards/__description/cards__description.css);
@import url(../blocks/cards/__action/cards__action.css);

@import url(../blocks/btn/btn.css);
@import url(../blocks/btn/_type/btn_type_primary.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__action/cover__action.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article,
aside,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    background: #2a2c2f;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 678px) and (max-width: 1279px) {
    /* lead */
    .lead__title {
        width: 69%;
    }

    .lead__subtitle {
        width: 90%;
    }

    .lead__main-illustration {
        margin-top: 40px;
    }

    /* intro */

    .intro {
        margin: 88px 24px 0 24px;
    }

    .intro__brief {
        width: 90%;
    }

    .intro__quote {
        width: 98%;
    }

    .intro__author {
        margin-right: 0;
    }

    .intro__paragraph {
        width: 100%;
    }

    /* photo-grid */
    .photo-grid {
        margin: 66px 24px 0 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px 16px;
    }

    /* places */
    .places {
        margin: 88px 24px 0 24px;
    }

    .cards__title {
        width: 100%;
        font-size: 42px;
    }

    .cards__author-info {
        width: 100%;
    }

    .cards__image {
        width: 100%;
    }

    .cards__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 26px 28px;
    }

    .cards__description-container {
        width: 352px;
    }

    .cards__description {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 163%;
        margin-bottom: 20px;
    }

    .cards__item:nth-child(1) .cards__description {
        font-size: 16px;
        line-height: 1.6;
    }

    .btn {
        font-size: 14px;
    }

    /* cover */

    .cover {
        margin: 92px 0 0 0;
        height: 746px;
    }
}

@media screen and (min-width: 320px) and (max-width: 677px) {
    /* lead */
    .lead__title {
        width: 69%;
        font-size: 40px;
    }

    .lead__subtitle {
        width: 90%;
        font-size: 16px;
    }

    .lead__main-illustration {
        margin-top: 20px;
    }

    /* intro */

    .intro {
        margin: 64px 0px 0 16px;
    }

    .intro__brief {
        width: 100%;
        font-size: 32px;
    }

    .intro__quote {
        width: 98%;
        font-size: 20px;
    }

    .intro__author {
        margin-right: 0;
        font-size: 20px;
    }

    .intro__paragraph {
        width: 100%;
        font-size: 15px;
    }

    /* photo-grid */
    .photo-grid {
        margin: 48px 16px 0 16px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 16px 16px;
    }

    .photo-grid__image {
        width: 100%;
    }

    /* places */
    .places {
        margin: 62px 0 0 0;
    }

    .cards__item {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .cards__title,
    .cards__author-info,
    .cards__description-container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .cards__title {
        width: 100%;
        font-size: 32px;
    }

    .cards__item:nth-child(3) .cards__title {
        font-size: 24px;
        width: 100%;
    }

    .cards__item:nth-child(4) .cards__title {
        width: 80%;
    }

    .cards__description {
        font-size: 15px;
    }

    .cards__image {
        width: 100%;
    }

    .cards__description-container {
        margin-bottom: 50px;
    }

    .cards__action {
        margin-left: 8px;
        margin-right: 8px;
        position: absolute;
        bottom: 0;
        width: 93%;
    }
    .btn {
        font-size: 16px;
    }

    /* cover */

    .cover {
        margin: 55px 0 0 0;
        height: 254px;
    }

    .cover__title {
        font-size: 32px;
    }

    .cover__subtitle {
        font-size: 14px;
    }
}
