.cover__action {
    text-decoration: none;
    width: 137px;
    height: 48px;
    text-align: center;
    z-index: 1;
    margin-top: 2%;
}

.cover__action:hover .cover::before {
    background: rgba(0, 0, 0, 0.8);
}
